[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/drips-contracts"]
	path = lib/drips-contracts
	url = https://github.com/radicle-dev/drips-contracts
	branch = master_v0.1
[submodule "lib/juice-contracts-v3"]
	path = lib/juice-contracts-v3
	url = https://github.com/jbx-protocol/juice-contracts-v3
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
